@tailwind base;
@tailwind components;
@tailwind utilities;

table.table {
    @apply min-w-full divide-y divide-gray-200 border;
}

table.table thead.table-header > tr > th {
    @apply px-6 py-3 bg-gray-50 text-left;
}

table.table thead.table-header > tr > th > div {
    @apply flex items-center justify-between text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider;
}

table.table thead.table-header .column-sort {
    @apply text-lg;
}

table.table tbody.table-body {
    @apply bg-white divide-y divide-gray-200 divide-solid;
}

table.table tbody.table-body > tr > td {
    @apply px-6 py-4 text-sm leading-5 text-gray-900;
}

button:disabled {
    @apply opacity-60 cursor-not-allowed;
}

/* SPINNER */
.spinner-wrapper {
    /* height: 100vh;
    width: 100vw;
    display: flex; */
    /* justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(255, 255, 255);
    z-index: 9999; */
}
.spinner {
    position: relative;
     height: 60px;
    width: 60px;
    margin: 0px auto;
    -webkit-animation: rotation 0.6s infinite linear;
    -moz-animation: rotation 0.6s infinite linear;
    -o-animation: rotation 0.6s infinite linear;
    animation: rotation 0.6s infinite linear;
    border-left: 6px solid rgba(0, 174, 239, 0.15);
    border-right: 6px solid rgba(0, 174, 239, 0.15);
    border-bottom: 6px solid rgba(0, 174, 239, 0.15);
    border-top: 6px solid rgba(0, 174, 239, 0.8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}
@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


